body
{
	margin:0px;
	padding:0px;
	background-color:#fff;
	font-size: 14px;
	font-family: "PlayfairDisplay";
}
*{
	box-sizing: border-box;
}
img
{
	border:0px;
	max-width: 100%;

}
.clear{
	clear: both;
	float: none !important;
}
*:focus {
    outline: 0;

}
a{
	text-decoration: none;
}
ul,ol{
	margin:0;
	padding:0;
	list-style: none;
}
.container{
	max-width : 1060px;
	margin: 0 auto;
	position: relative;
}

/* start header */
#header{

}
.nav-bar{
	padding: 70px 0;
	width: 100%;
}
.logo{
	float: left;
}
.menu{
	float: right;
}
.menu ul{
	
}
.menu ul li{
	display: inline-block;
	padding-right: 120px;
}
.menu ul li:nth-child(4){
	padding-right: 0;
}
.menu ul li a{
	font-size: 14px;
	color: #c0c0c0;
	text-transform: uppercase;
}
.menu ul li a.active{
	color: #626262;
}
.menu ul li:hover a{
	color: #626262;
}
/* end header */

/* start main */

#main{
	margin-top: 100px;
}
.container-pd{
	padding: 0 80px;
}
.txt-list{
	color: #b4ad9e;
	font-size: 14px;
	font-family: 'UbuntuLight';
	text-transform: uppercase;
}
.container-pd .txt-title{
	color: #626262;
	font-size: 30px;
	font-family: 'PlayfairDisplay';
	margin: 30px 0 40px 0;
}
.txt-content{
	color: #626262;
	font-size: 14px;
	font-family: 'PlayfairDisplay';
	line-height: 30px;
	margin: 0;
}
.photodiary{
	
}
.photodiary span{
	
}
.photodiary h4{
	
}
.photodiary p{
	
}
.photodiary a{
	color: #b4ad9e;
	font-size: 14px;
	font-family: 'UbuntuLight';
	text-transform: uppercase;
	margin-top: 80px;
	display: block;
}

.row-post{
	margin-top: 135px;
}
.col-post{
	float: right;
	max-width: 46%;
}
.first{
	margin-right: 60px;
	float: left;
}
.img-col-post{
	margin-bottom: 30px;
}

.sign-up{
	background: #f0f0f0;
	padding: 70px 0;
	margin-top: 125px;
	text-align: center;
}
.txt-title-signup{
	font-size: 30px;
	color: #333333;
	font-family: 'PlayfairDisplay';
	margin-bottom: 70px;
	margin-top: 0;
}
.search-email{
	
}
.search-email input[type="text"]{
	background: url(../images/icon_search.png) no-repeat right center;
	border-bottom: 1px solid #000000;
	color: #000000;
	font-size: 14px;
	font-family: 'PlayfairDisplay';
	display: inline-block;
	line-height: 40px;
	border-top: none;
	border-left: none;
	border-right: none;
	min-width:  400px;
	padding-left: 5px;
}
.btn-load{
	margin-bottom: 160px;
}
a.btn-load-more{
	position: absolute;
	bottom: -160px;
	color: #626262;
	font-size: 20px;
	font-family: 'PlayfairDisplay';
	padding: 20px 40px;
	border: 1px solid #626262;
	display: inline-block;
	left: 40%;
}
a.btn-hide-more{
	position: absolute;
	bottom: -160px;
	color: #626262;
	font-size: 20px;
	font-family: 'PlayfairDisplay';
	padding: 20px 40px;
	border: 1px solid #626262;
	display: none;
	left: 40%;
}

/* end main */

/* start footer */
#footer{
	margin-top: 160px;
	background: #f0f0f0;
	padding: 40px 0;
	display: inline-block;
	width: 100%;
}
.footer-left{
	float: left;
}
.footer-left a{
	color: #000000;
	font-size: 14px;
	font-family: 'PlayfairDisplay';
}
.footer-left a:nth-child(1){
	margin-right: 30px;
}
.social{
	float: right;
}
.social a{
	color: #000000;
	font-size: 14px;
	margin-right: 20px;
}
.social a:nth-child(4){
	margin-right: 0;
}
/* end footer */