body
{
	margin:0px;
	padding:0px;
	background-color:#fff;
	font-size: 10px;
	font-family: "segoeui";
}
*{
	box-sizing: border-box;
}
img
{
	border:0px;
	max-width: 100%;
	
}
.clear{
	clear: both;
	float: none !important;
}
*:focus {
    outline: 0;
	
}
a{
	text-decoration: none;
}
ul,ol{
	margin:0;
	padding:0;
	list-style: none;
}
.container{
	width: 1110px;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
}

/*header */
#header{
	background-color: #090b1e ;
	width: 100%;
}
.navBar{
	padding: 40px 0;
	position: relative;
}
.navBar .logo{
	position: absolute;
	left: 0;
	top: 40px;
}
.buy_now{
	position: absolute;
	right: 0;
	top: 40px;
}
.buy_now a{
	background: url(../images/bg_buynow.png) no-repeat right center;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 30px;
	color: #FFF;
	text-transform: uppercase;
}
.buy_now:hover a{
	color: #fb3068;
	text-decoration: none;
}
.navigator{
	position: absolute;
	right: 130px;
	top: 40px;
}
.navigator ul li{
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}
.navigator ul li a{
	color: #d2d2d2;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.navigator ul li.active a{
	border-bottom: 1px solid #d2d2d2;
	color: #FFF;
	padding: 5px 0;

}
.navigator ul li:hover a{
	border-bottom: 1px solid #FFF;
	color: #FFF;
	padding: 5px 0;
	text-decoration: none;
}
.navigator ul li:visited a{
	border-bottom: 1px solid #FFF;
	color: #FFF;
	padding: 5px 0;
	text-decoration: none;
}
.banner{
	padding: 100px 0;
	display: block;
}
.order{
	width: 50%;
	float: left;
	padding: 120px 0;
}
.order .ipx{
	margin-bottom: 20px;
	display: block;
}
.order h4{
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 18px;
}
.order p{
	color: #FFF;
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
	margin: 50px 0;
}
.order_now{
	background: url(../images/bg_order_now.png) repeat-y;
	color: #d2d2d2;
	font-size: 16px;
	padding: 20px 40px;
	border-radius: 5px;
	display: inline-block;
}
.order_now:hover{
	color: #FFF;
}

.product_banner{
	float: right;
	max-width: 50%;
}
/* end header */

/* start Main */

.main{

}
.features{
	background-image: url(../images/circle.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-color: #FFF;
	min-height: 638px;

}
.features_child{
		min-height: 700px;
}
.features_child h1{
	text-align: center;
	color: #181818;
	font-size: 36px;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 0;
}
.features_child ul.why_ipx{
	background-image: url(../images/bg_features_child.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 80px;
	padding-bottom: 100px;
}
.why_ipx li{
	float: left;
    width: 50%;
    text-align: right;
    padding-right: 23%;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.why_ipx li:nth-child(2n){
	float: right;
	text-align: left;
	padding-left: 20%;
	padding-right: 0;
}
.why_ipx li:nth-child(1){
	background-image: url(../images/pipe_left.png);
	background-position: 80% 30px ;
	padding-top: 73px;
}
.why_ipx li:nth-child(1) h5.title_why_ipx{
	background: #FFF;
}
.why_ipx li:nth-child(2){
	background-image: url(../images/pipe3_right.png);
	padding-top: 73px;
	background-position: 14% 30px ;
}
.why_ipx li:nth-child(3){
	background-image: url(../images/pipe1_left.png);
	background-position: 80% 68px ;
}
.why_ipx li:nth-child(4){
	background-image: url(../images/pipe4_right.png);
	background-position: 14% 68px ;
}
.why_ipx li:nth-child(5){
	background-image: url(../images/pipe2_left.png);
	background-position: 80% 70px ;
}
.why_ipx li:nth-child(6){
	background-image: url(../images/pipe5_right.png);
	background-position: 14% 70px ;
}
.why_ipx li h5.title_why_ipx{
	color: #181818;
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 30px;
    position: relative;
	padding-right: 35px;
}
.why_ipx li h5.title_why_ipx:after{
	content: "";
	background: #FFF;
	width: 35px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.why_ipx li:nth-child(2n) h5.title_why_ipx{
	background: #FFF;
	padding-left: 35px;
}
.why_ipx li:nth-child(2n) p{
	background: #FFF;
	padding-left: 35px;
}
.why_ipx li p{
	color: #444444;
	font-size: 16px;
	padding-right: 35px;
	margin: 0;
}
/* end features */

.wireless{
	background-image: url(../images/bg_ipx_wireless.png) , url(../images/bg_x_wireless.png);
	background-repeat: no-repeat , no-repeat;
	background-position: right center , left 520px;
	background-color: #090b1e;
}
.connectivity_wireless{
	padding: 180px 0;
	text-align: left;
	width: 50%;

}
.connectivity_wireless .title_connectivity_wireless{
	color: #FFF;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 60px;
	margin-top: 0;
}
.connectivity_wireless p{
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 0;
}
/* end wireless */

.security{
	background-image: url(../images/bg_security.png),url(../images/bg_elipse_security.png) ;
	background-repeat: no-repeat , no-repeat;
	background-position: right 25px , 345px center;
	background-color: #FFF;
}
.security_content{
	float: right;
	text-align: left;
	width: 50%;
	padding: 340px 0 240px 0;
	margin-left: 80px;
}
.security_content .title_securitu_content{
	color: #181818;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 45px;
	margin-top: 0;
}
.security_content p{
	color: #444444;
	font-size: 16px;
	margin-bottom: 30px;
	margin-top: 0;
	line-height: 30px;
}

/* end security */

.review{
	min-height: 600px;
}
.review .title_review{
	text-align: center;
	color: #181818;
	font-size: 36px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 65px;
}

/* end review */

/* end main */