body
{
	margin:0px;
	padding:0px;
	background-color:#fff;
	font-size: 10px;
	font-family: "segoeui";
}
*{
	box-sizing: border-box;
}
img
{
	border:0px;
	max-width: 100%;
	
}
.clear{
	clear: both;
	float: none !important;
}
*:focus {
    outline: 0;
	
}
a{
	text-decoration: none;
}
ul,ol{
	margin:0;
	padding:0;
	list-style: none;
}
.container{
	width: 1110px;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
}
.title{
	font-size: 36px;
	font-weight: 600;
	color: #181818;
}
/*header */
#header{
	background-color: #090b1e ;
	width: 100%;
}
.navBar{
	padding: 40px 0;
	position: relative;
}
.navBar .logo{
	position: absolute;
	left: 0;
	top: 40px;
}
.buy_now{
	position: absolute;
	right: 0;
	top: 40px;
}
.buy_now a{
	background: url(../images/bg_buynow.png) no-repeat right center;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 30px;
	color: #FFF;
	text-transform: uppercase;
}
.buy_now:hover a{
	color: #fb3068;
	text-decoration: none;
}
.navigator{
	position: absolute;
	right: 130px;
	top: 40px;
}
.navigator ul li{
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}
.navigator ul li a{
	color: #d2d2d2;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.navigator ul li.active a{
	border-bottom: 1px solid #d2d2d2;
	color: #FFF;
	padding: 5px 0;

}
.navigator ul li:hover a{
	border-bottom: 1px solid #FFF;
	color: #FFF;
	padding: 5px 0;
	text-decoration: none;
}
.navigator ul li:visited a{
	border-bottom: 1px solid #FFF;
	color: #FFF;
	padding: 5px 0;
	text-decoration: none;
}
.banner{
	padding: 100px 0;
	display: block;
}
.order{
	width: 50%;
	float: left;
	padding: 120px 0;
}
.order .ipx{
	margin-bottom: 20px;
	display: block;
}
.order h4{
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 18px;
}
.order p{
	color: #FFF;
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
	margin: 50px 0;
}
.order_now{
	background: url(../images/bg_order_now.png) repeat-y;
	color: #d2d2d2;
	font-size: 16px;
	padding: 20px 40px;
	border-radius: 5px;
	display: inline-block;
}
.order_now:hover{
	color: #FFF;
}

.product_banner{
	float: right;
	max-width: 50%;
}
/* end header */

/* start Main */

.main{

}
.features{
	background-image: url(../images/circle.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-color: #FFF;
	min-height: 638px;

}
.features_child{
		min-height: 700px;
}
.features_child .title_features{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0;
}
.features_child ul.why_ipx{
	background-image: url(../images/bg_features_child.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 80px;
	padding-bottom: 100px;
}
.why_ipx li{
	float: left;
    width: 50%;
    text-align: right;
    padding-right: 23%;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.why_ipx li:nth-child(2n){
	float: right;
	text-align: left;
	padding-left: 20%;
	padding-right: 0;
}
.why_ipx li:nth-child(1){
	background-image: url(../images/pipe_left.png);
	background-position: 80% 30px ;
	padding-top: 73px;
}
.why_ipx li:nth-child(1) h5.title_why_ipx{
	background: #FFF;
}
.why_ipx li:nth-child(2){
	background-image: url(../images/pipe3_right.png);
	padding-top: 73px;
	background-position: 14% 30px ;
}
.why_ipx li:nth-child(3){
	background-image: url(../images/pipe1_left.png);
	background-position: 80% 68px ;
}
.why_ipx li:nth-child(4){
	background-image: url(../images/pipe4_right.png);
	background-position: 14% 68px ;
}
.why_ipx li:nth-child(5){
	background-image: url(../images/pipe2_left.png);
	background-position: 80% 70px ;
}
.why_ipx li:nth-child(6){
	background-image: url(../images/pipe5_right.png);
	background-position: 14% 70px ;
}
.why_ipx li h5.title_why_ipx{
	color: #181818;
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 30px;
    position: relative;
	padding-right: 35px;
}
.why_ipx li h5.title_why_ipx:after{
	content: "";
	background: #FFF;
	width: 35px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.why_ipx li:nth-child(2n) h5.title_why_ipx{
	background: #FFF;
	padding-left: 35px;
}
.why_ipx li:nth-child(2n) p{
	background: #FFF;
	padding-left: 35px;
}
.why_ipx li p{
	color: #444444;
	font-size: 16px;
	padding-right: 35px;
	margin: 0;
}
/* end features */

.wireless{
	background-image: url(../images/bg_ipx_wireless.png) , url(../images/bg_x_wireless.png);
	background-repeat: no-repeat , no-repeat;
	background-position: 1128px center , left 520px;
	background-color: #090b1e;
	position: relative;
	z-index: 999;
}
.connectivity_wireless{
	padding: 180px 0;
	text-align: left;
	width: 50%;

}
.connectivity_wireless .title_connectivity_wireless{
	color: #FFF;
	margin-bottom: 60px;
	margin-top: 0;
}
.connectivity_wireless p{
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 0;
}
/* end wireless */

.security{
	background-image: url(../images/bg_security.png),url(../images/bg_elipse_security.png) ;
	background-repeat: no-repeat , no-repeat;
	background-position: 1430px 25px , 390px center;
	background-color: #FFF;
	position: relative;
	z-index: 1;
}
.security_content{
	float: right;
	text-align: left;
	max-width: 50%;
	padding: 340px 0 340px 60px;

}
.security_content .title_security{
	margin-bottom: 45px;
	margin-top: 0;
}
.security_content p{
	color: #444444;
	font-size: 16px;
	margin-bottom: 30px;
	margin-top: 0;
	line-height: 30px;
}

/* end security */

.review{
	min-height: 600px;
}
.review .title_review{
	text-align: center;
	margin-top: 0;
	margin-bottom: 65px;
}
.review_slide{
	overflow: hidden;
}
.review_slide ul.bxslider{
	overflow: hidden;
	max-height: 100%;
}
.review_slide ul.bxslider li{
	display: inline-block;
	margin: 0 25px;
	background: #FFF;
}
.review_slide ul.bxslider li .job_review{
	padding: 60px;
	border: 1px solid #CCC;
	box-shadow: 0 20px 30px 10px #f3f3f3;
	-moz-box-shadow: 0 20px 30px 10px #f3f3f3;
	-webkit-box-shadow: 0 20px 30px 10px #f3f3f3;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	max-height: 380px;
}
.title_job_review{
	margin-bottom: 30px;
	padding: 0 140px;
	display: inline-block;
}
.title_job_review .img_title_job_review{
	float: left;
	width: 40%;
}
.title_job_review .name_title_job_review{
	float: left;
	width: 60%;
	color: #444444;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}
.title_job_review span{
	float: left;
	color: #181818;
	font-size: 14px;
}
.intro_job_review{
	
}
.intro_job_review p{
	color: #444444;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}
/* end review */

.video{
	background-image: url(../images/bg_video.png);
	background-repeat:  no-repeat;
	background-position: center center;
	min-height: 755px;
	position: relative;
	z-index: 999;
}	
.video iframe{
	position: absolute;
	top: 137px;
	left: 30px;
	border-radius: 50px;
	z-index: 1;
}
.video img{
	position: absolute;
	top: 99px;
	left: 2px;
	z-index: 9;
    pointer-events: none;
}
/* end video */

.available{
	background-image: url(../images/bg_avaiable.png);
	background-repeat: no-repeat;
	background-position: 0 top;
	background-color: #FFF;
}

.choose{
	padding: 100px 0;
}
.choose .title_choose{
	text-align: center;	
	margin-top: 0;
	margin-bottom: 90px;
}
.row_choose{

}
.col_choose{
	width: 40%;
}
.col_choose_1{
	float: left;
	margin-right: 20%;
}
.col_choose_2{
	float: right;
}
.price_col_choose{
	margin-top: 40px;
	text-align: center;
}
.row_price_col_choose:first-child{
	margin-bottom: 20px;
}
.row_price_col_choose span{
	color: #0035a3;
	font-size: 24px;
	
}
.row_price_col_choose span.version{
	color: #ff002e;
}
.row_price_col_choose span.special{
	margin: 0 10px;
}


.available_on{
	text-align: center;
}
.available_on .title_available_on{
	margin: 45px 0 80px 0;
}
.available_on ul.content_available_on{
	padding: 0 20px;
}
.available_on ul.content_available_on li{
	display: inline-block;
	width: 20%;
	margin: 0 60px 50px 0;
}
.available_on ul.content_available_on li:nth-child(4){
	margin-right: 0;
}
.available_on ul.content_available_on li:nth-child(8){
	margin-right: 0;
}

/* end available */

/* end main */


/* start footer */

#footer{
	background-color: #090b1e;
	margin-top: 100px;
	padding: 100px 0 130px 0;
}
.connect_footer{
	text-align: center;
	width: 50%;
	position: absolute;
	left: 25%;
}
.connect_footer .title_connect_footer{
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 30px;
}
.connect_footer p{
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 40px;
}
.connect_footer form{
	position: relative;
}
.connect_footer input[type="text"]{
	background: url(../images/bg_mail_connect.png) repeat-y;
	width: 540px;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
	line-height: 60px;
	padding-left: 50px;
	vertical-align: top;
	border-radius: 5px;
	border: none;
}
.connect_footer input[type="submit"]{
	background: url(../images/bg_submit_connect.png) repeat-y;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
	padding: 23px 36px;
	border: none;	
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 7px;
}

.row_footer{
	margin-top: 370px;
	display: inline-block;
	width: 100%;
}
.address_footer{
	float: left;
	width: 50%;
}
.address_footer ul{
	
}
.address_footer ul li{
	display: inline-block;
	width: 100%;
}
.address_footer ul li a{
	color: #FFF;
	font-size: 14px;
}
.address_footer ul li:hover a{
	color: #f90487;
}
.address_footer ul li:nth-child(1){
	background:url(../images/address_img.png) no-repeat left center;
	padding-left: 30px;
	margin-bottom: 15px;
}
.address_footer ul li:nth-child(2){
	background:url(../images/mail_img.png) no-repeat left center;
	padding-left: 30px;
}
.social_footer{
	float: right;
}
.social_footer ul{
	
}
.social_footer ul li{
	display: inline-block;
	background: #FFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
.social_footer ul li{
	display: inline-block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-right: 20px;
}
.social_footer ul li:nth-child(1){
	background: url(../images/fb_social.png) no-repeat center center;
	background-color: #FFF;
}
.social_footer ul li:nth-child(2){
	background: url(../images/tuyter_social.png) no-repeat center center;
	background-color: #FFF;
}
.social_footer ul li:nth-child(3){
	background: url(../images/in_social.png) no-repeat center center;
	background-color: #FFF;
}
.social_footer ul li:nth-child(4){
	background: url(../images/insta_social.png) no-repeat center center;
	background-color: #FFF;
	margin-right: 0;
}
.social_footer ul li a{
	visibility: hidden;
}

.reserved_footer{
	margin-top: 100px;
}
.reserved_footer p{
	color: #FFF;	
	font-size: 14px;
	float: left;
	margin: 0;
}
.reserved_footer b{
	font-weight: bold;
}
.reserved_footer a{
	color: #FFF;	
	font-size: 14px;
	float: left;
	padding-left: 50px;
}
.reserved_footer a:hover{
	color: #f90487;
}

/* end footer */