img{
	max-width: 100%;
}
.clear{
	clear: both;
}
.wrapper{
	
}
.container{
	width: 1177px;
	margin: 0 auto;
}
#navigation{
	background:url(../img/bgr-navigation.png) repeat;
	min-height:64px;
	position:relative;
	top:0;
	left:0;
	right:0;
	z-index:9;
}
#navigation .container{
	position: relative;
}
#navigation .logo{
	float: left;
}
#navigation .main-menu{
	float: right;
}
#navigation .main-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
#navigation .main-menu ul li{
	display: inline-block;
	font-size: 14px;
	margin-left: 30px;
}
#navigation .main-menu ul li a{
	display: block;
	line-height: 64px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
}
#navigation .main-menu ul li.active a{
	border-bottom: 5px solid #54626b;
}
#navigation .main-menu ul li:hover a{
	border-bottom: 5px solid #54626b;
}

.menu-navigation{
	position: absolute;
	top: 100%;
	left: 10px;
}
.menu-navigation ul{
	margin: 0px;
    padding: 0 0px 10px;
    list-style: none;
    max-width: 200px;
    background: #161F2A;
}
.menu-navigation ul li{
	line-height: 33px;
    padding: 0px 30px 0px 30px;
    border-top: 1px solid #015a8d;
}

.menu-navigation ul li:first-child{
	border: none;
}
.menu-navigation ul li a{
	text-decoration: none;
    font-size: 14px;
    color: #ddd;
}
.menu-navigation ul li:hover a{
	color: #7df36d;
}

#header{

}

#content{

}
.gallery{
	text-align: center;
	padding-top: 70px;
}
.gallery h2{
	color: #334a52;
    font-size: 37px;
    font-weight: normal;
    margin: 0;
}
.product{
	margin-top: 30px;
}
.box{
	float: left;
	width: 382px;
	height: 287px;
	margin: 5px;
}
.box img{
	max-width: 100%;
    width: 382px;
    height: 287px;
    -moz-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	transition: all 0.3s;
}
.box:hover img{
	-moz-transform: scale(0.9);
  	-webkit-transform: scale(0.9);
  	transform: scale(0.9);
}

#footer{
	width: 100%;
    background: #161F2A;
    text-align: center;
    padding: 10px 0px;
    margin-top: 50px;
}
#footer p {
	color: #CFC4C4;
    font-size: 14px;
    font-family: arial;
}

#scroll-top{
	position: fixed;
	right: 30px;
	bottom: 30px;
}