@media screen and (max-width: 1280px) {
	.container{
		width: 980px;
	}
}
@media screen and (min-width: 768px){
	body{
		background-image: none;
	}
	.container{
		width: 680px;
	}
	.logo{
		float: none;
		display: block;	
		text-align: center;
		margin-top: 20px;	
	}
	.navigation{
		float: none;
		margin-top: 20px;
	}
	.lates-col{
		max-width: 45%;
		margin-right: 20px;
	}
	.lates-col:nth-child(2){
		float: right;
		margin-right: 4px;
	}
	.readMore-recent-blog{
		max-width: 40%;
	}
}