body
{
	margin:0px;
	padding:0px;
	background-color:#fff;
	font-size: 14px;
	font-family: 'TodaySHOP';
	background-image: url(../images/bg_body.png);
	background-repeat: repeat-x;
	background-position: top center;
	
}
*{
	box-sizing: border-box;
}
img
{
	border:0px;
	max-width: 100%;
	height: auto;

}
.clear{
	clear: both;
	float: none !important;
}
*:focus {
    outline: 0;

}
a{
	text-decoration: none;
}
ul,ol{
	margin:0;
	padding:0;
	list-style: none;
}
.container{
	max-width : 1280px;
	margin: 0 auto;
	position: relative;
}
.container-pd{
	padding: 0 160px;
	margin: 0 auto;
}
/* start header */
#header{
	
}
.header-top{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background: transparent;
	padding: 0 57px;
}
.logo{
	float: left;
	margin-top: 27px;
}
.navigation{
	float: right;
	margin-top: 52px;
}
.navigation ul{
	
}
.navigation ul li{
	display: inline-block;
	vertical-align: top;
	
}
.navigation ul li a{
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 0 0 43px;
	word-spacing: 0;
}
.banner{

}
/* end header */

/*start main*/
#main{
	margin: 70px 0;
}
.lates{
	margin-bottom: 60px;
}
.lates-col{
	float: left;
	margin-right: 37px;
	max-width: 22%;
}
.lates-col:nth-child(4){
	margin-right: 4px;
	float: right;
}
.lates-col-img{
	max-width: 100%;
}
.lates-col-content{
	margin: 21px 0;
	text-align: left;
	max-width: 90%;
	word-spacing: 5px;
}
.lates-col-content a.title-lates{
	color: #333333;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}
.lates-col-content a.title-lates:hover{
	color: #ffd627;
}
.lates-col-content p{
	color: #666666;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: 100;
}
.recent-blog{
	margin-bottom: 70px;
}
.recent-blog h4.title-recent-blog{
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 0;
}
.row-recent-blog{
	
}
.row-recent-blog::before {
	content: '';
	background-color: #e7e7e7;
	height: 1px;
	background-image: url(../images/bg_recent-blog.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	width: 100%;
}
.date-recent-blog{
	float: left;
	margin-right: 35px;
	margin-top: 20px;
	width: 72px;
	height: 72px;
	background-color: #ffd627;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.date-recent-blog span{
	display: block;
	color: #000;
}
.date-recent-blog span.date1{
	font-size: 52px;
	position: absolute;
	top: 10px;
	left: 15px;
	font-style: italic;
	font-family: 'times';
	font-weight: bold;
}
.date-recent-blog span.date2{
	font-size: 39px;
	position: absolute;
	top: 14px;
	left: 39px;
	font-style: italic;
	font-family: 'times';
	font-weight: bold;
}
.date-recent-blog span.month{
	font-size: 10px;
	position: absolute;
	top: 9px;
	left: 29px;
	font-weight: 100;
	text-transform: uppercase;
}
.date-recent-blog span.year{
	font-size: 12px;
	position: absolute;
	top: 51px;
	left: 39px;
	font-weight: 100;
}
.des-recent-blog{
	float: left;
	padding-top: 30px;
	max-width: 32%;
	line-height: 20px;
}
.title-des-recent-blog{
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	word-spacing: 5px;
}
.des-recent-blog p{
	color: #666666;
	font-size: 14px;
	margin: 5px 0;
	font-weight: 100;
}
.readMore-recent-blog{
	float: right;
	position: relative;
}
.readMore-recent-blog a{
	color: #8d7302;
	font-size: 14px;
	background-color: #ffd627;
	padding: 10px;
	position: absolute;
	top: 43px;
	right: 0;
	display: block;
	font-style: italic;
	font-weight: 500;
}

.row-main{

}
.col22{
	width: 22%;
	margin-right: 36px;
}
.about-us{
	float: left;
}
.recent-blog-post{
	float: left;
}
.twitter-buzz{
	float: left;
}
.pages{
	float: right;
}
.title{
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 40px;
	margin-top: 0;
	text-transform: uppercase;
}
.about-us p{
	color: #666666;
	font-size: 14px;
	line-height: 25px;
	text-align: left;
	font-weight: 100 ;
}
.row-recent-blog-post{
	margin-bottom: 23px;
}
.row-recent-blog-post:nth-child(5){
	margin-bottom: 0;
}
.row-recent-blog-post::after{
	content: '';
	background-color: #e7e7e7;
	height: 1px;
	background-image: url(../images/bg_recent-blog.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	width: 100%;
	margin-top: 18px;
}
.img-recent-blog-post{
	float: left;
}
.des-recent-blog-post{
	float: left;
	margin-left: 15px;
	padding-top: 10px;
}
.des-recent-blog-post a{
	color: #000000;
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
	font-weight: 100;
}
.des-recent-blog-post span{
	color: #999999;
	font-size: 14px;
	font-weight: 100;
}

.row-twitter-buzz{
	position: relative;
}
.row-twitter-buzz p{
	color: #000;
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 30px;
	line-height: 25px;
	word-spacing: 4px;
}
.row-twitter-buzz a{
	color: #000;
	font-size: 14px;
	font-weight: 100;	
	position: absolute;
	right: 0;
	bottom: 5px;
	word-spacing: 4px;
	background-color: #ffd627;
	padding: 5px;
}
.row-twitter-buzz::after{
	content: '';
	background-color: #e7e7e7;
	height: 1px;
	background-image: url(../images/bg_recent-blog.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	width: 100%;
}

.pages{
	margin-right: 0;
}
.pages ul{
	
}
.pages ul li{
	display: block;
}
.pages ul li::after{
	content: '';
	background-color: #e7e7e7;
	height: 1px;
	background-image: url(../images/bg_recent-blog.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	width: 100%;
}
.pages ul li a{
	color: #000;
	font-size: 14px;
	font-weight: 100;
	padding: 20px 0 20px 5px;
	display: inline-block;
}
.pages ul li:nth-child(1) a{
	padding-top: 0;
}
/*end main*/

/*start footer*/
#footer{
	
}
.designed-footer{
	text-align: center;
	margin-bottom: 70px;
}
.designed-footer::before{
	content: '';
	background-color: #e7e7e7;
	height: 1px;
	background-image: url(../images/bg_recent-blog.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	width: 100%;
}
.designed-footer p{
	color: #999;
	font-size: 14px;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 0;
}
.designed-footer p a{
	color: #000;
	font-size: 14px;
	font-weight: 100;
}
.designed-footer p:hover a{
	color: #ffd627;
}
/*end fôter*/
