body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-size: 14px;
    line-height: 26px;
    color: #666;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    border: 0px;
    max-width: 100%;
}

.clear {
    clear: both;
    float: none !important;
}
.clear:before,.clear:after{
    content: " ";
    display: table;
}

*:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 25px;
	box-sizing: border-box;
}
#wrapper{
	position: relative;
	z-index: 999;
	overflow: hidden;
	width: 100%;
}

/* start top bar*/
#top-bar{
	background-color: rgba(48, 39, 28, 1);
	width: 100%;
    color: #d6d6d6;
    position: relative;
    font-weight: 400;
    height: 45px;
    z-index: 111;
    vertical-align: middle;
}
.position-left{
	float: left;
	z-index: 2;
	height: 100%;
	position: relative;
}
.position-center{
	height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    z-index: 1;
}
.position-right{
	position: relative;
    float: right;
    z-index: 2;
    height: 100%;
    text-align: right;
}
.position-left:before,.position-center:before,.position-right:before{
	content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -3px;
}
.position-left-inner,.position-right-inner{
	vertical-align: middle;
	display: inline-block;
}
.top-bar-widget{
	vertical-align: middle;
    margin-right: 22px;
    padding-right: 22px;
    position: relative;
    line-height: 40px;
    font-size: 12px;
    display: inline-block;
}
.top-bar-widget:after{
	position: absolute;
    border-right: 1px solid #888;
    height: 15px;
    content: '';
    width: 1px;
    right: 0;
    top: 30%;
}
#top-bar a{
	color: #d6d6d6;
}
#top-bar a:hover{
	color: #FFF;
}
.social-icon-widget{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	margin: 0 15px 0 0;
	color: rgb(255,255,255);
}
.position-right-inner ul{
	
}
ul.menu-top-bar li{
	display: inline-block;
	padding: 0 17px;
	border-left: 1px solid #888;
	line-height: 15px;
}
ul.menu-top-bar li:first-child{
	border-left: none;
}
ul.menu-top-bar li a{
	font-size: 12px;
}
/* end top bar */

/* header */
#header{
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100%;
	z-index: 110;
}
.menu-area{
	height: 70px;
    position: relative;
    border-bottom: 1px solid transparent;
}
.logo-wrapper{
	display: inline-block;
	vertical-align: middle;
}
.menu-area .logo-wrapper a{
	max-height: 63px;
}
.logo-wrapper a{
	height: 29px;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.menu-area a img{
	height: 100%;
	display: block;
}
.main-menu{
	position: relative;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.main-menu>ul{
    text-align: left;
}
.main-menu>ul>li{
	display: inline-block;
	position: relative;
}
.main-menu>ul>li:nth-child(7){
	border-right: 2px solid rgba(0,0,0,.5);
	padding-right: 17px;
	margin-right: 17px;
}
.main-menu>ul>li>a{
	display: block;
    padding: 0 17px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: #30271c;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}
.main-menu ul li.active a,.main-menu ul li:hover a{
	color: #c7a17a;
}
.main-menu ul li ul.sub-menu-barista{
	display: none;
	position: absolute;
	top: calc(100% + 1px);
	background-color: #FFF;
	left: 0;
	right: auto;
	z-index: 999;
	border-top: 2px solid #c7a17a;
	
}
.main-menu ul li ul.sub-menu-barista li{
	width: 227px;
	padding: 0;
	display: block;
	padding: 5px 0;
}
.main-menu ul li ul.sub-menu-barista li a{
	display: block;
    color: #666;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    padding: 0 17px;
    float: none;
    text-transform: uppercase;
}
.main-menu .sub-menu-barista li:hover a{
	color: #c7a17a;
}
.main-menu ul li:hover .sub-menu-barista{
	display: block;
}
.main-menu .right{
	right: 0 !important;
	left: auto !important;
	text-align: right;
}




.shopping-cart-outer{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	
}
.shopping-cart-outer .shopping-cart-inner{
	display: table;
	vertical-align: middle;
	height: 100%;
}
.shopping-cart-outer .shopping-cart-inner .shopping-cart-header{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding-left: 2px;
	padding-right: 11px;
}
.shopping-cart-outer .shopping-cart-header .header-cart{
	display: inline-block;
	position: relative;
	padding: 0 10px 0 7px;
}
.shopping-cart-outer .shopping-cart-header .header-cart i{
	color: #30271c;
	font-size: 18px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}
.shopping-cart-outer .cart-amount{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 9px;
	color: #FFF;
	background-color: #c7a17a;
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	line-height: 16px;
	text-align: center;
	font-family: 'Open Sans',serif;
	font-weight: 700;
}
.search-barista{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	position: relative;
}
.search-barista i{
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}
.search-barista input[type="text"]{
	border: 1px solid rgba(48, 39, 28, 1);
    color: #30271c;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding-left: 2%;
    padding-right: 1%;
    vertical-align: top;
    width: 200px;
}
/* end header */



/* start main */
#main{
	position: relative;
	z-index: 100;
	background-color: #FFF;
}
.main-inner{

}
.slider{
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 10;
}
.bx-wrapper{
	border: none;
	box-shadow: none;
	margin-bottom: 0;
}
.bx-wrapper .bx-pager{
	bottom: 30px;
	left: 50%;
}
/* end main */