body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-size: 14px;
    line-height: 26px;
    color: #666;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

img {
    border: 0px;
    max-width: 100%;
    height: auto;
}

.clear {
    clear: both;
    float: none !important;
}
.clear:before,.clear:after{
    content: " ";
    display: table;
}

*:focus {
    outline: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
h1,h2,h3,h4,h5,h6{
	font-family: Oswald,sans-serif;
    color: #30271c;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
	font-size: 35px;
    line-height: 1.14286em;
}
h3 {
    font-size: 22px;
    letter-spacing: .5px;
    line-height: 1.22727em;
}
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 25px;
	box-sizing: border-box;
}
#wrapper{
	position: relative;
	z-index: 999;
	overflow: hidden;
	width: 100%;
}

/* start top bar*/
#top-bar{
	background-color: rgba(48, 39, 28, 1);
	width: 100%;
    color: #d6d6d6;
    position: relative;
    font-weight: 400;
    height: 45px;
    z-index: 111;
    vertical-align: middle;
}
.position-left{
	float: left;
	z-index: 2;
	height: 100%;
	position: relative;
}
.position-center{
	height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    z-index: 1;
}
.position-right{
	position: relative;
    float: right;
    z-index: 2;
    height: 100%;
    text-align: right;
}
.position-left:before,.position-center:before,.position-right:before{
	content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -3px;
}
.position-left-inner,.position-right-inner{
	vertical-align: middle;
	display: inline-block;
}
.top-bar-widget{
	vertical-align: middle;
    margin-right: 22px;
    padding-right: 22px;
    position: relative;
    line-height: 40px;
    font-size: 12px;
    display: inline-block;
}
.top-bar-widget:after{
	position: absolute;
    border-right: 1px solid #888;
    height: 15px;
    content: '';
    width: 1px;
    right: 0;
    top: 30%;
}
#top-bar a{
	color: #d6d6d6;
}
#top-bar a:hover{
	color: #FFF;
}
.social-icon-widget{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	margin: 0 15px 0 0;
	color: rgb(255,255,255);
}
.position-right-inner ul{
	
}
ul.menu-top-bar li{
	display: inline-block;
	padding: 0 17px;
	border-left: 1px solid #888;
	line-height: 15px;
}
ul.menu-top-bar li:first-child{
	border-left: none;
}
ul.menu-top-bar li a{
	font-size: 12px;
}
/* end top bar */

/* header */
#header{
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100%;
	z-index: 110;
}
.menu-area{
	height: 70px;
    position: relative;
    border-bottom: 1px solid transparent;
}
.logo-wrapper{
	display: inline-block;
	vertical-align: middle;
}
.menu-area .logo-wrapper a{
	max-height: 63px;
}
.logo-wrapper a{
	height: 29px;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.menu-area a img{
	height: 100%;
	display: block;
}
.main-menu{
	position: relative;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.main-menu>ul{
    text-align: left;
}
.main-menu>ul>li{
	display: inline-block;
	position: relative;
}
.main-menu>ul>li:nth-child(6){
	border-right: 2px solid rgba(0,0,0,.5);
	padding-right: 17px;
	margin-right: 17px;
}
.main-menu>ul>li>a{
	display: block;
    padding: 0 17px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: #30271c;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}
.main-menu ul li.active a,.main-menu ul li:hover a{
	color: #c7a17a;
}
.main-menu ul li ul.sub-menu-barista{
	display: none;
	position: absolute;
	top: calc(100% + 1px);
	background-color: #FFF;
	left: 0;
	right: auto;
	z-index: 999;
	border-top: 2px solid #c7a17a;
	
}
.main-menu ul li ul.sub-menu-barista li{
	width: 227px;
	padding: 0;
	display: block;
	padding: 5px 0;
}
.main-menu ul li ul.sub-menu-barista li a{
	display: block;
    color: #666;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    padding: 0 17px;
    float: none;
    text-transform: uppercase;
}
.main-menu .sub-menu-barista li:hover a{
	color: #c7a17a;
}
.main-menu ul li:hover .sub-menu-barista{
	display: block;
}
.main-menu .right{
	right: 0 !important;
	left: auto !important;
	text-align: right;
}
.shopping-cart-outer{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.shopping-cart-outer .shopping-cart-inner{
	display: table;
	vertical-align: middle;
	height: 100%;
}
.shopping-cart-outer .shopping-cart-inner .shopping-cart-header{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding-left: 2px;
	padding-right: 11px;
}
.shopping-cart-outer .shopping-cart-header .header-cart{
	display: inline-block;
	position: relative;
	padding: 0 10px 0 7px;
}
.shopping-cart-outer .shopping-cart-header .header-cart i{
	color: #30271c;
	font-size: 18px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}
.shopping-cart-outer .cart-amount{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 9px;
	color: #FFF;
	background-color: #c7a17a;
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	line-height: 16px;
	text-align: center;
	font-family: 'Open Sans',serif;
	font-weight: 700;
}
.search-barista{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	position: relative;
}
.search-barista i{
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}
.search-barista input[type="text"]{
	border: 1px solid rgba(48, 39, 28, 1);
    color: #30271c;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding-left: 2%;
    padding-right: 1%;
    vertical-align: top;
    width: 200px;
}
/* end header */



/* start main */
#main{
	position: relative;
	z-index: 100;
	background-color: #FFF;
}
.main-inner{

}
.slider{
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 10;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
 }
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
 }
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
  	display: block;
  	height: auto;
  	float: left;
  	width: 100%;
  	border: 0;
}
.full-width{
	position: relative;
	z-index: 100;
	background-color: #FFF;
}
.full-width-inner{

}
.clearfix:before,.clearfix:after{
	content: " ";
	display: table;
}
.barista-custom{
	padding-top: 100px;
	margin-left: -15px;
	margin-right: -15px;
}
.barista-custom:before,.barista-custom:after{
	content: " ";
	display: table;
}
.section-inner{
	width: 1300px;
	margin: 0 auto;
	position: relative;
	z-index: 20;
}
.banner-link{
	margin-left: -15px;
	margin-right: -15px;
}
.banner-link-column{
	float: left;
	width: 50%;
	padding-right: 0;
	padding-left: 0;
	opacity: 1;
}
.banner-link-column:hover{
	opacity: 0.8;
}
.banner-link-column:hover .brt-banner .brt-banner-text .brt-banner-text-table .brt-banner-text-cell .brt-banner-read-more i{
	margin-left: 5px;
}
.banner-link-column-inner{
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
.banner-link-column-inner:before,.banner-link-column-inner:after{
	content: " ";
	display: table;
}
.brt-banner{
	position: relative;
}
.brt-banner .brt-banner-link{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.brt-banner .brt-banner-image{
	-webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.brt-banner .brt-banner-image img{
	display: block;
}
.brt-banner .brt-banner-text{
	-webkit-transition: background-color .25s cubic-bezier(.45,.05,.55,.95),all .25s ease-out;
    -moz-transition: background-color .25s cubic-bezier(.45,.05,.55,.95),all .25s ease-out;
    transition: background-color .25s cubic-bezier(.45,.05,.55,.95),all .25s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.brt-banner .brt-banner-text .brt-banner-text-table{
	display: table;
    width: 68%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
}
.brt-banner .brt-banner-text .brt-banner-text-table .brt-banner-text-cell{
	display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.brt-banner .brt-banner-text .brt-banner-text-table .brt-banner-text-cell .brt-banner-subtitle{
	font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.brt-banner .brt-banner-text .brt-banner-text-table .brt-banner-text-cell .brt-banner-title{
	color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    margin: 0;
}
.brt-banner .brt-banner-text .brt-banner-text-table .brt-banner-text-cell .brt-banner-read-more{
	font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: absolute;
    top: auto;
    bottom: 47px;
    color: #FFF;
}
.brt-banner .brt-banner-text .brt-banner-text-table .brt-banner-text-cell .brt-banner-read-more i{
	display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 15px;
    top: -1px;
}
.merchandise-coffee{
	margin-top: 100px;
}
.merchandise-coffee-title{
	padding-bottom: 80px;
}
.merchandise-coffee-title-inner{
	text-align: center;
}
.brt-section-subtitle{
	font-family: Merriweather,serif;
    font-size: 18px;
    text-transform: capitalize;
    font-style: italic;
    line-height: 27px;
    letter-spacing: 0;
    color: #c7a17a;
    margin: 0;
}
.separator{
	position: relative;
	display: inline-block;
    vertical-align: middle;
    border-bottom: 2px solid #c7a17a;
    margin: 5px 0;
    width: 120px;
}
.merchandise-coffee-product{

}
.merchandise-coffee-product-inner{
	
}
.merchandise-coffee-product-inner ul.brt-product{
	
}
.merchandise-coffee-product-inner ul.brt-product li{
	float: left;
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 50px;
}
.merchandise-coffee-product-inner ul.brt-product li:nth-child(4n){
	margin-right: 0;
}

.merchandise-coffee-product-inner ul.brt-product li .product-list-image{
	position: relative;
	overflow: hidden;
}
.merchandise-coffee-product-inner ul.brt-product li .product-list-image img{
	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
}
.merchandise-coffee-product-inner ul.brt-product li .product-list-image .add-to-cart{
	position: absolute;
	bottom: 9px;
  	left: 0;
  	right: 0;
  	opacity: 0;
  	-webkit-transform: translateY(100%);
  	transform: translateY(100%);
  	-webkit-transition: all 0.6s ease;
  	transition: all 0.6s ease;
  	font-size: 0.8em;
  	color: #FFF;
  	line-height: 46px;
  	letter-spacing: 1.5px;
  	background-color: #c7a17a;
  	font-weight: 700;
  	text-align: center;
  	text-transform: uppercase;
}
.merchandise-coffee-product-inner ul.brt-product li .product-list-image .add-to-cart:hover{
	background: #000000;
  	color: #ffffff;
}
.merchandise-coffee-product-inner ul.brt-product li:hover .add-to-cart{
	-webkit-transform: translateY(0);
  	transform: translateY(0);
  	-webkit-transition: all 0.6s ease;
  	transition: all 0.6s ease;
  	opacity: 1;
  	
}
.merchandise-coffee-product-inner ul.brt-product li .product-list-title{
	margin: 10px 0;
	font-size: 19px;
	line-height: 1.3em;
	font-family: 'Oswald',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.merchandise-coffee-product-inner ul.brt-product li .product-list-title a{
    color: #30271c;
}
.merchandise-coffee-product-inner ul.brt-product li .product-list-title a:hover{
    color: #c7a17a;
}
.price{
	display: block;
    width: 100%;
    color: #c7a17a;
    font-size: 18px;
    font-family: Merriweather,serif;
    font-weight: 400;
}

.gift-off-barista{
	background-image: url(../images/shop-home-grid-img.jpg);
	background-repeat: no-repeat;
	position: relative;
	z-index: 999;
	text-align: center;
}
.gift-off-barista-item{
	padding: 8.3% 0;
}
.gift-off-barista-item a.read-more{
	
}
.gift-off-barista-item h2{
	font-family: Oswald;
    font-size: 55px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 30px 0 40px 0;
}
p.gift-off-barista-subtitle{
	font-family: Merriweather,serif;
    font-size: 18px;
    font-style: italic;
    line-height: 27px;
    letter-spacing: 1px;
    color: #FFF;
    margin: 0;
    text-transform: uppercase;
}
a.read-more{
	border: 2px solid #efefef;
	color: rgb(239, 239, 239);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(239, 239, 239);
    display: inline-block;
    position: relative;
    outline: 0;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 2.5px;
    padding: 14px 35px;
    font-size: 13px;
    line-height: 1.7em;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
}
a.read-more:hover{
	color: rgb(48,39,28);
	background-color: rgb(255,255,255);
	border-color: rgb(255,255,255);
}

.merchandise-sale-title{
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
}
span.product-badge{
	position: absolute;
	top: 15px;
	left: 15px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	padding: 0 17px;
	color: #fff;
	background-color: #c7a17a;
	font-size: 11px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
}
.price del{
	color: #cfcfcf;
}
.price .amount{
	font-size: 18px;
    font-family: Merriweather,serif;
    font-weight: 400;
    margin-right: 7px;
}
.offer-barista{
	
}

.owl-carousel{
	margin: 60px 0;
}
.owl-carousel .item{
	float: left;
	width: 20%;
}
.owl-carousel .item:hover{
	margin-top: -10px;
}

/* end main */

/* start footer */
#footer{
	display: block;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.footer-inner{
	position: relative;
}
.footer-top{
	display: block;
    background-color: #212121;
    background-position: center center;
    background-size: cover;
    border-bottom: 1px solid #212121;
    background-image: url(../images/footer-img.jpg);
}
.container-inner{
	width: 1300px;
	margin: 0 auto;
	
}
.four-column{
	width: 100%;
	padding: 70px 0 41px;
}
.four-column-inner{
	margin: 0 -15px;
}
.column{
	float: left;
	width: 25%;
}
.column-inner{
	padding: 0 15px;
}
.widget-text{
	color: #acacac;
}
.widget{
	margin-bottom: 20px;
}
.widget:last-child{
	margin-bottom: 0;
}
.widget .footer-widget-title{
	color: #fff;
	margin-bottom: 40px;
	font-size: 19px;
	line-height: 1.3em;
	font-family: Oswald,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.working-hour{
	width: 70%;
	position: relative;
	background-color: rgba(28,28,28,0.01);
}
.working-hour-item{
	position: relative;
}
span.wh-day{
	font-size: 14px;
    line-height: 33px;
    padding-right: 6px;
    color: #fff;
    text-transform: uppercase;
    width: 1%;
    white-space: nowrap;
    display: table-cell;
    font-family: 'Oswald',sans-serif;
}
span.wh-line{
	height: 3px;
    display: table-cell;
    width: 98%;
    z-index: 1;
    position: relative;
}
span.wh-line .wh-line-inner{
	display: block;
    border-bottom: 1px solid rgba(168,164,161,.25);
}
span.wh-hours{
	font-size: 14px;
    line-height: 33px;
    padding-left: 7px;
    color: #acacac;
    text-transform: uppercase;
    width: 1%;
    white-space: nowrap;
    display: table-cell;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
}
span.wh-hours .wh-closed{
	color: #c7a17a;
    text-transform: uppercase;
}
.widget ul{
	margin: 15px 0;
}
.widget.widget-recent ul li{
	margin-bottom: 13px;
    border-bottom: 1px solid rgba(168,164,161,.25);
    padding-bottom: 15px;
}
.widget.widget-recent ul li a{
	font-family: Oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-style: normal;
    color: #fff;
}
.widget.widget-recent ul li a:hover{
	color: #c7a17a;
}
.widget.widget-recent ul li .post-date{
	display: block;
    font-size: 13px;
    line-height: 14px;
    color: #c7a17a;
    font-family: Merriweather,serif;
    font-style: italic;
}
.text-widget a.mailto{
	color: #c7a17a;
}
.text-widget h5{
	color: #FFF;
}
.widget-separator-inner{
	position: relative;
    height: auto;
    font-size: 0;
    line-height: 1em;
}
.separator-wg{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    width: 250px;
    border-bottom: 1px solid #45423e;
}

.footer-bottom{
	width: 100%;
    background-color: #000;
    padding: 18px 0;
    border-top: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}
.three-column-inner{
	margin: 0 -15px;
	text-align: left;
}
.three-column-inner .column{
	width: 33.33%;
    float: left;
}
.column-inner a{
	color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0px 20px 0px 0px;
}
.text-center{
	text-align: center;
	vertical-align: middle;
}
.text-right{
	text-align: right;
	vertical-align: middle;
}
/* end footer */
/* start back to top */
.back-to-top{
	position: fixed;
    width: 30px;
    right: 30px;
    bottom: 65px;
    margin: 0;
    z-index: 10000;
    opacity: 1;
}
.back-to-top>span{
	width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
}
.front-side,.front-side:after{
	position: absolute;
    background-color: #c7a17a;
}
/* end back to top */


/* start about me */
.title{
	
	background-repeat: no-repeat;
	background-position: center 0px;
	background-attachment: fixed;
	text-align: center;
	position: relative;
	z-index: 101;
	display: block;
	width: 100%;
	background-color: #f5f5f5;
}
.about-me-img{
	background-image: url(../images/Team-title-area-parallax.jpg);
	height: 410px;
}
.offer-img{
	background-image: url(../images/What-we-offer-title-img.jpg);
	height: 680px;
	
}
.title-image{
	display: none;
}
.title-image img{
	display: block;
	position: relative;
	width: 100%;
}
.title-holder{
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
}
.title-holder .section{
	background-color: transparent;
    display: table-row;
    vertical-align: middle;
}
.title-holder .section-inner{
	display: table-cell;
    padding: 0;
    vertical-align: middle;
}
.title-holder .title-subtitle{
	display: block;
    padding: 0;
    position: relative;
    z-index: 25;
}
.title-holder .title-subtitle .title-subtitle-inner{
	position: relative;
}
.title-holder .title-subtitle .title-subtitle-inner h1{
	display: inline-block;
	vertical-align: middle;
	font-size: 33px;
	letter-spacing: 0;
	color: #fff;
	line-height: 1.11667em;
	text-transform: uppercase;
	font-family: Oswald,sans-serif;
    font-weight: 700;
}
.title-holder .title-subtitle .title-subtitle-inner h1 span{
	display: inline-block;
	letter-spacing: 2px;
	word-spacing: 2px;
}
.barista-row{
	padding-top: 120px;
	padding-bottom: 120px;
}
.section-inner-margin{
	margin-left: -15px;
	margin-right: -15px;
}
.column-inner:before,.column-inner:after{
	content: ' ';
	display: table;
}
.element-holder{
	width: 100%;
	display: table;
	table-layout: fixed;
}
.element-holder .element-holder-item{
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.element-holder .element-holder-item .element-holder-item-inner{
	width: 100%;
}
.single-image-wrapper{
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}
.single-image-wrapper img{
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

.element-holder-item-content{
	padding: 0% 4% 0% 8%;
}
.element-holder-item-content h2{
    margin-bottom: 40px;
    margin-top: 0;
}
.element-holder-item-content p{
	color: #666;
	margin-top: 0;
}
.mgb_1{
	margin-bottom: 25px;
}
.mgb_2{
	margin-bottom: 40px;
}
blockquote{
	quotes: none;
    position: relative;
    display: table;
    padding: 9px 0 9px 33px;
    border-left: 3px solid #c7a17a;
    width: 100%;
    margin: 0 0 25px 0;
}
blockquote .blockquote-text{
	display: table-cell;
    font-style: italic;
    font-family: Merriweather,serif;
    text-transform: none;
    font-size: 20px;
    line-height: 33px;
    color: #30271c;
}
.icon-short-code{
	display: inline-block;
}
.icon-short-code i{
	color: #757575;
    font-size: 17px;
}
.icon-short-code i:hover{
	color: #c7a17a;
}
/* end about me */
/* start what we offer */
.barista-row-custom{
	padding-top: 116px;
	padding-bottom: 82px;
}
ul.utilities{
	
}
ul.utilities li{
	float: left;
	padding: 0 60px;
	width: 33.33333%;
	margin-bottom: 70px;
}
ul.utilities li:nth-child(n+7){
	margin-bottom: 30px;
}
.utilities-col{
	text-align: left;
}
.utilities-col-icon{
	float: left;
}
.icon-medium{
	margin: -11px 0px 0px 0px;
}
.icon-medium i{
	font-size: 3em;
	color: rgb(199, 161, 122);
}
.icon-medium i:hover{
	color: rgb(48, 39, 28);
}
.utilities-col-content{
	padding-left: 60px;
}
.title-col-utilities{
	margin-bottom: 17px;
	font-size: 19px;
    line-height: 1.31579em;
    font-family: Oswald,sans-serif;
    color: #30271c;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}
.barista-offering{
	padding-top: 0;
}
.elements-holder{
	width: 100%;
	display: table;
	table-layout: fixed;
}
.elements-holder-item{
	width: 33.333%;
	display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
.elements-holder-item .elements-holder-item-link{
	display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
}
.elements-holder-item .elements-holder-item-inner{
	width: 100%;
}
.bg-item-1{
	background-image: url(../images/Offerings-holder-img-1.jpg);
}
.bg-item-2{
	background-color: #eae7de;
}
.bg-item-3{
	background-image: url(../images/Offerings-holder-img-2.jpg);
}
.bg-item-4{
	background-image: url(../images/Offerings-holder-img-3.jpg);
}
.bg-item-5{
	background-image: url(../images/Offerings-holder-img-4.jpg);
}
.bg-item-6{
	background-image: url(../images/Offerings-holder-img-5.jpg);
}

.pd-item-1{
	padding: 19% 45px 17% 60px;
}
.pd-item-2{
	padding: 19% 40px 17% 60px;
}
.pd-item-3{
	padding: 43% 40px 41.85% 60px;
}
.color-offering-1{
	color: #FFF;
}
.elements-holder-item .color-offering-2{
	color: #30271c;
}
.title-offering{
    margin-bottom: 45px;
    margin-top: 0;
}
.elements-holder-item-content p{
	margin-bottom: 30px;
	margin-top: 0;
}
.elements-holder-item-content .btn-offering{
	font-size: 12px;
	display: inline-block;
    position: relative;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 14px 0;
    line-height: 1.7em;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
}
.elements-holder-item-content .btn-offering:hover i{
	margin-left: 5px;
}
.barista-carousel{
	padding-top: 0;
	background-color: #f5f5f5;
	margin-top: 120px;
}
/* end what we offer */
/* start contact us */
.contact-us-img{
	background-image: url(../images/Contact-title-area-img-1.jpg);
	height: 410px;
}
.width-50{
	width: 50%;
}
.title-medium{
    margin-bottom: 20px;
    margin-top: 0;
}
.separator-left{
	border-bottom-width: 3px;
}
ul.content-contact{
	margin-top: 40px;	
}
ul.content-contact li{
	float: left;
	width: 50%;
	margin-bottom: 40px;
}
ul.content-contact li:nth-child(n+5){
	margin-bottom: 0;
}
.contact-col{
	text-align: left;
}
.contact-col-icon{
	float: left;
}
.icon-normal{
	margin: -5px 0 0 0;
}
.icon-normal i{
	font-size: 30px;
	color: rgb(199, 161, 122);
}
.contact-col-content{
	padding-left: 45px;
}
.contact-col-content h4{
	font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
}
/* end contact us */
/* start out menu */
.barista-row-menu{
	padding-top: 120px;
	padding-bottom: 70px;
	background-color: #f2f0ea ;
}
.column-inner-padding{
	padding-left: 25px;
	padding-right: 25px;
	float: left;
}
.title-menu{
	margin-top: 0;
	margin-bottom: 15px;
}
.menu-list{
	margin-top: 55px;
}
.menu-list ul.cml-holder{
	margin: 15px 0;
}
.menu-list ul li{
	margin-bottom: 25px;
}
.menu-list.cml-featured-image .cml-item-image{
	float: left;
	position: relative;
	width: 83px;
}
.menu-list.cml-featured-image .cml-item-image a{
	display: block;
	margin: 0;
}
.menu-list.cml-featured-image .cml-item-image img{
	vertical-align: middle;
}
.menu-list.cml-featured-image .cml-item-content{
	padding-left: 110px;
}
.menu-list .cml-bottom-holder{
	position: relative;
    top: 5px;
}
.menu-list .cml-title-holder{
	display: table-cell;
    width: 1%;
    white-space: nowrap;
    padding-right: 5px;
}
.menu-list .cml-line{
	height: 3px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: table-cell;
    width: 98%;
    z-index: 1;
    position: relative;
    bottom: 2px;
}
.menu-list .cml-price-holder{
	display: table-cell;
    width: 1%;
    padding-left: 7px;
    white-space: nowrap;
}
.menu-list .cml-description-holder{
	color: #c7a17a;
    float: left;
    width: 70%;
    line-height: 1.2em;
}
.menu-list .cml-label-holder{
	float: right;
    position: relative;
    width: 30%;
    text-align: right;
}
.menu-list .cml-label-holder .cml-label{
	background-color: #c7a17a;
    color: #30271c;
    font-family: Merriweather,serif;
    font-style: italic;
    padding: 3px 13px;
    text-align: center;
}
.cml-title,.cml-price{
	margin: 0;
}
.barista-row-paralax{
	background-image: url(../images/out-menu-paralax.jpg);
	background-position: 50% 48px;
	padding-top: 100px;
	padding-bottom: 100px;
	position: static;
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: fixed;
    overflow: hidden;
}
.align-center{
	text-align: center;
}
.figure{
	display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}
/* end out menu */
/* start simple menu */
.column-inner-padding-simple{
	padding-left: 85px;
    padding-right: 85px;
    float: left;
}
/* end simple menu */
/* start reservation */
.heading-title{
	padding: 0 51% 0 6%;
	display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.form-reservation{
	padding: 4% 8% 0 6%;
	width: 66.66666667%;
	float: left;
}
.two-column{
	width: 100%;
}
.two-column>.two-column-inner{
	margin: 0 -15px;
}
.two-column .column-reservation{
	float: left;
	width: 50%;
}
.two-column .column-reservation .column-reservation-inner{
	padding: 0 15px;
}
.two-column .column-reservation .column-reservation-inner input[type="text"],
.two-column .column-reservation .column-reservation-inner input[type="date"],
.two-column .column-reservation .column-reservation-inner input[type="email"]
{
	width: 100%;
    margin-bottom: 22px;
    padding: 17px 19px;
    border: 2px solid transparent;
    outline: 0;
    font-family: Merriweather,serif;
    font-style: italic;
    font-size: 13px;
    background-color: #f6f4ef;
    color: #c7a17a;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.one-column textarea{
	width: 100%;
    margin-bottom: 22px;
    padding: 17px 19px;
    border: 2px solid transparent;
    outline: 0;
    font-family: Merriweather,serif;
    font-style: italic;
    font-size: 13px;
    background-color: #f6f4ef;
    color: #c7a17a;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.one-column .submit-form{
	display: inline-block;
    width: auto;
    font-family: 'Open Sans',sans-serif;
    padding: 14px 35px;
    line-height: 1.7em;
    border: 2px solid #c7a17a;
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    background-color: #c7a17a;
    cursor: pointer;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
}
.one-column .submit-form:hover{
	background-color: #000;
	color: #FFF;
	border: 2px solid #000;
}
.img-reservation{
	float: left;
	width: 33.3333333%;
	padding: 4% 0 0 7%;
}
/* end reservation */



