body
{
	margin:0px;
	padding:0px;
	font-size: 100%;
	font-family: "raleway";
	font-weight: normal;
	line-height: 1em;
	color: #3b3b3b;
	background: url(../images/gjc-bodyBkg.jpg) #e7e2dc;
}
img
{
	border:0px;
}
a{
	text-decoration: none;
	outline: none;
}
.clear{
	clear: both;
}
.clearfix{
	display: block;
}
*:focus {
    outline: 0;
	
}
ul,ol{
	margin:0;
	padding:0;
	list-style: none;
}
.container{
	width: 950px;
	margin: 0 auto;
	position: relative;
}

/* header */
#header{
	width: 100%;
	margin: 0 0 35px 0;
	background-color: #2d2929;
}
.topBar{
	width: 100%;
	height: 34px;
	padding: 5px 0 0 0;
	border-bottom: 1px solid #393534;
	background-color: #231f20;
}
.headerInner{
	padding: 15px 0 0 0;
	color: #a09c99;
}
.logo{
	float: left;
	height: 90px;
}
.napWrapper{
	float: right;
	margin-top: 50px;
	z-index: 999;
}
.napWrapper>ul{
	text-align: center;
}
.napWrapper>ul>li{
	position: relative;
	display: inline-block;
}
.napWrapper>ul>li>a{
	font-size: 1.1em;
	font-weight: normal;
	color: #a29f9a;
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
}
.napWrapper>ul>li:hover>a{
	color: #FFF;
}
.napWrapper .subMenu{
	display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    background-color: #231f20;
    border: 1px solid #3a3534;
    z-index: 999;
}
.napWrapper .subMenu li{
	border-top: 1px solid #3a3534;
}
.napWrapper .subMenu li:first-child{
	border-top: none;
}
.napWrapper .subMenu li a{
	font-size: 1em;
	font-weight: normal;
	color: #a29f9a;
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
}
.napWrapper .subMenu li:hover a{
	color: #FFF;
}
.napWrapper li:hover .subMenu{
	display: block;
}


/* main */
.topBanner img{
	display: block;
	max-width: 100%;
	border: 10px solid #FFF;
	box-sizing: border-box;
}
.center-main{
	display: inline-block;
}
.left-center-main{
	float: left;
	padding: 20px 10px;
	width: 60%;
	height: auto;
}
.text-main-homepage{
}
.text-main-homepage p{
	color: #3a3534;
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}
.social-line-homapage{
	text-align: center;
	/*display: flex;
	justify-content: center;*/
	display: block;
}
.right-center-main{
	float: right;
	height: auto;
	padding: 20px 0 20px 10px;
}
.right-center-main img{
	border: 10px solid #FFF;
	max-width: 100%;
	display: block;
	box-sizing: border-box;
}

.col-one-third{
	float: left;
	height: auto;
	display: block;
	margin: 20px 0;
}
.col-one-third img{
	max-width: 100%;
	border: 10px solid #FFF;
	box-sizing: border-box;
}
.gift-left-now{
	margin-right: 40px;
}
.gift-right-now{
	margin-left: 40px;
	float: right;
}
.gift-center-now{
	margin-left: 30px;
	margin-right: 30px;
}

/* footer*/
#footer{
	width: 100%;
	background: url(../images/gjc-footerBkg.gif) no-repeat bottom right #2d292a;
	height: 370px;
	margin-top: 20px;
}
.footer-panel{
	padding-top: 10px;
}
.footer-panel-header{
	border-bottom: 1px solid #544d47;
	height: 50px;
}
.colFooter-panel{
	width: 23%;
	float: left;
	margin-right: 10px;
	text-align: left;
}
.colFooter-panel h3{
	font-size: 1.1em;
	font-weight: normal;
	color: #a29f9a;
	text-transform: uppercase;
	margin: 20px 0 0 10px;
}
.colFooter-panel ul{

}
.colFooter-panel ul li{
	border-bottom: 1px solid #3A3533;
	display: block;
	height: 20px;
	padding: 10px 0 0 10px;
}
.colFooter-panel ul li a{
	color: #73706D;
	font-size: 0.8em;
	text-transform: uppercase;
	text-align: justify;
}
.colFooter-panel ul li:hover a{
	color: #FFF;
}

.copyright-footer{
	margin: 50px 0 0 0;
	color: #9b9893;
	font-size: 0.8em;
	padding: 0 0 0 10px;
}



/* About */
.title-main{
	background: #FFF;
	padding: 10px;
}
.mod-title-main{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.modBread-title{
	background: url(../images/gjc-breadcrumbHome.gif) no-repeat center left ;
	height: 20px;
	padding: 5px 0 0 30px;
	font-size: 18px;
	
}
.modBread-title a{
	color: #3c3c3c;
}
.modBread-title span{
	margin: 0 3px;
}
.page-modBread-title{
	background: #e87d1e;
}
.page-modBread-title h1{
	font-size: 1.375em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 50px 10px 20px;
	text-align: left;
	color: #FFF;
}

.page-content{
	font-size: 1em;
	line-height: 1.5em;
	background: #FFF;
	margin-top: 10px;
	text-align: justify;
}
.about-page-content{
	padding: 10px;
}
.about-page-content h2{
	font-size: 1.4em;
	margin: 5px 0 10px 0;
	padding: 0 0 10px 0;
	color: #8b806f;
	text-transform: none;
	border-bottom: 1px dotted #afa089;
}

/* contact us */
.contact-page-content{

}
.contact-page-content p{
	margin: 0;
}

/* news */
.news-title-page{
	background: #6f1200;
}

/* Product */

.product-page{
	margin-top: 10px;
	position: relative;
}
ul.productTab{
	float: left;
	height: 40px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 100%;
}
ul.productTab li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 40px ;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	border-left: none;
	font-weight: bold;
	background: #e87d1e;
	overflow: hidden;
	position: relative;	
}
ul.productTab li:hover {
	background: #CCCCCC;
}
ul.productTab li.active{
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;	
}
.productContent{
	border: 1px solid #ccc	;
	border-top: none;
	clear: both; 
	float: left; 
	width: 100%;
	background: #FFFFFF;
}
.tab_content {
	padding: 10px;
	font-size: 1.2em;
	display: none;
}

.modProducts{

}
.colModProducts{
	width: 20%;
	height: auto;
	display: inline-block;
	text-align: center;
	margin: 10px 20px;
}
.modProductImage{
	width: 100%;
	height: auto;
	text-align: center;
}
.modProductImage img{
	width: 100%;
    margin-top: 25px;
    z-index: 900;
    opacity: 1;
}
.modProductImage:hover img{
	opacity: 0.5;
}
.modProductTitle{
	height: auto;
	margin: -3px auto 0 auto;
	text-align: center;
	background-color: #000000;
	border: 3px solid #544c45;
	-moz-box-shadow: 0 0 5px #231f20;
	-webkit-box-shadow: 0 0 5px #231f20;
	box-shadow: 0 0 5px #231f20;
	position: relative;
	z-index: 990;
}
.modProductTitle a{
	color: #FFFFFF;
	font-size: 12px;
	font-family: 'Trade Gothic W02 Cn 18', sans-serif;
	text-transform: uppercase;
	padding: 7px 10px;
	display: inline-block;
}
