
@font-face {
	font-family: 'TodaySHOP-XLight';
	src: url('TodaySHOP-XLight.otf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'TodaySHOP-Light';
	src: url('TodaySHOP-Light_44888.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'TodaySHOP-Medium';
	src: url('TodaySHOP-Medium.otf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'TodaySHOP-Bold';
	src: url('TodaySHOP-Bold.otf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'TodaySHOP-MediumItalic';
	src: url('TodaySHOP-MediumItalic_44891.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

