*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
text-decoration: none!important;
}
.product{
	width: 1200px;
	margin: 0 auto;
}
.product ul{
	list-style: none;
}
.product ul li{
	float: left;
	text-align: center;
	width: 280px;
	border: 1px solid #000;
	padding: 20px;
	margin: 20px 20px 0 0 ;
}
.product ul li img{
	max-width: 100%;
	height: 250px;
}
.product ul li a.desc{
	color: #737373;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	margin: 20px 0;
}
.product ul li a.desc:hover{
	color: #9e0b0f;
}

.dscimg{
	float: left;
	width: 500px;
	text-align: center;
	border:1px solid #000;
}
.dscimg img{
	max-width: 100%;
}
.dscinfo{
	float: right;
	margin-left: 50px;
	width: 650px;
}
.dscinfo-title{

}
.dscinfo-title a{
	text-transform: uppercase;
	font-size: 30px;
	color: #737373;
}
.dscinfo-detail{
	margin-top: 20px;
}
.dscinfo-detail p{
	color: #222;
	font-size: 16px;
	line-height: 20px;
	text-align: justify;
}